.cellContent {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .customTooltip {
    font-size: 0.875rem; /* Adjust as needed */
  }
  .pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pageTitle {
    margin-top: 20px 0;
  }
  
  .tableContainer {
    height: 800px;
    width: 80%;
    overflow-x: auto;
    margin-top: 30px;
  }
  
  .paginationContainer {
    margin: 30px;
  }
  .tableHeaderCell {
    white-space: nowrap;
    font-weight: bold !important;
  }